i {

}

body {
    background: linear-gradient(to bottom right, #ffa200, #aa00ff); /* Degradado de color de fondo */
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

#navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #666;
    padding: 10px;
    border-radius: 0 0 10px 10px ;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 3);
}

#navbar a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#logo {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

a {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 3);
    background-color: white;
    text-decoration: none;
    color: slateblue;
    display: flex; align-items: center;
}

#turroExplode {
    max-width: 720px;
    height: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 3);
}

#linkedin {
    bottom: 10px; 
    left: 10px;
    max-width: 60px; 
    position: fixed;
    padding: 10px;
    background-color: white;
    border-radius: 25%;
    animation-name: In;
    animation-duration: 0.2s;
    transition: 0.2s;
}

#linkedin:hover {
    animation-name: Out;
    animation-duration: 0.2s;
    transition: 0.2s;
}

#github {
    bottom: 10px; 
    left: 80px;
    max-width: 60px; 
    position: fixed;
    padding: 10px;
    background-color: white;
    border-radius: 25%;
    animation-name: In;
    animation-duration: 0.2s;
    transition: 0.2s;
}

#github:hover {
    animation-name: Out;
    animation-duration: 0.2s;
    transition: 0.2s;
}

@keyframes In {
    from {scale: 1;}
    to {scale: 0.95;}
}

@keyframes Out {
    from {scale: 0.95;}
    to {scale: 1;}
}