---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Head />
  <main class="max-w-6xl mx-auto px-6 py-20 min-h-[60vh]">
    Hola Soy la página de proyectos
  </main>
  <Footer />
</Layout>

<style is:global>
	@import "tailwindcss";

	html,
	body {
		background-color: #1a1a1a;
		color: #fff;
		margin: 0;
		width: 100vw;
		height: 100vh;
	}
</style>