<footer class="w-full bg-black text-white py-12 text-center">
    <div class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
            <h3 class="font-bold text-lg mb-2 cursor-default">Contacto</h3>
            <p class="text-sm font-bold">Contactame por email:</p>
            <p class="text-sm">malopezensenyat@gmail.com</p>
            <p class="text-sm mt-2 font-bold">Palma de Mallorca, España</p>
        </div>
        <div>
            <h3 class="font-bold text-lg mb-2 cursor-default">Enlaces</h3>
            <ul class="text-sm space-y-1">
                <li>
                    <a href="/projects" class="hover:underline">Proyectos</a>
                </li>
                <li>
                    <a href="/#aboutMe" class="hover:underline">Sobre mí</a>
                </li>
                <li>
                    <a
                        href="/assets/cv.pdf" {/* TODO: hacer el puto curriculum */}
                        class="hover:underline"
                        target="_blank">CV</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold text-lg mb-2 cursor-default">Redes</h3>
            <ul class="text-sm space-y-1">
                <li>
                    <a href="https://github.com/MteooLops" class="hover:underline">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/mateo-l%C3%B3pez-b1942732b/" class="hover:underline">LinkedIn</a>
                </li>
                <li>
                    <a
                        href="https://twitter.com/MteooLops"
                        class="hover:underline"
                        target="_blank">X</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-8 border-t border-gray-700 pt-6 text-center text-sm">
        © 2025 Mateo Agustín López Enseñat — Todos los derechos reservados
        <br/>
        Esta página fue creada con Astro, y con ayuda de GitHub Copilot para el aprendizaje de Tailwind CSS.
    </div>
</footer>
