<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portfolio de Mateo Agustín López Enseñat - Desarrollador Web" />
		<meta name="keywords" content="Portfolio, Mateo Agustín López Enseñat, Desarrollador, Programador, Web, Aplicaciones, Software, HTML, CSS, JavaScript, React, Node.js, Docker, Kubernetes, Google Workspace, Microsoft Office" />
		<meta name="author" content="Mateo Agustín López Enseñat" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="bingbot" content="index, follow" />
		<meta name="yandexbot" content="index, follow" />
		<meta name="duckduckbot" content="index, follow" />
		<meta name="slurp" content="index, follow" />
		<title>Mateo Agustín López Enseñat - Desarrollador Web</title>
	</head>
	<body>
		<slot />
	</body>
</html>